<!doctype html>

<title><%= album.title %></title>

<meta charset=utf-8>

<link rel=stylesheet href=../../static/gallery.css>

<div class=header>
  <% if (authenticated) { %>
    <p class=auth><a href=../../forget-passwords>Forget all passwords</a>
  <% } %>
  <div class=breadcrumbs>
    <h2><a href=../..>Photo gallery</a></h2>
    <h1><%= album.title %></h1>
  </div>
</div>

<h1><%= album.title %></h1>

<div class=details>
  <p class=date>Created on <b><%= album.created %></b>
  <p class=number><b><%= album.photos.length %></b> photos
  <% if (album.type == 'protected') { %>
    <p class=protected>Password protected
  <% } %>
</div>

<ul class=photos>
  <% album.photos.forEach(function(photo) { %>
    <li>
      <a href='<%= photo %>/' class=thumbnail><img src='<%= photo %>/thumbnail' alt='<%= photo %>'></a>
  <% }) %>
</ul>

<div class=footer>
  <p>created using <a href=https://github.com/sander/node-gallery>sander/node-gallery</a>
</div>
